@use "./variables" as *;

.visually-hidden {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.text-900 {
  color: $clr-neutral-900;
}
.text-400 {
  color: $clr-neutral-400;
}
.text-200 {
  color: $clr-neutral-200;
}
.text-100 {
  color: $clr-neutral-100;
}
.bg-black {
  background-color: $clr-neutral-900;
}
.bg-purple {
  background-color: $clr-accent-purple;
}
.bg-yellow {
  background-color: $clr-accent-yellow;
}
.bg-pink {
  background-color: $clr-accent-pink;
}
.bg-red {
  background-color: $clr-accent-red;
}
.bg-cyan {
  background-color: $clr-accent-cyan;
}
.bg-indigo {
  background-color: $clr-accent-indigo;
}
.fs-300 {
  font-size: $fs-300;
}
.fs-400 {
  font-size: $fs-400;
}
.fs-500 {
  font-size: $fs-500;
}
.fs-600 {
  font-size: $fs-600;
}
.fs-700 {
  font-size: $fs-700;
}
.fs-800 {
  font-size: $fs-800;
}
.fw-bold {
  font-weight: $fw-bold;
}
.fw-regular {
  font-weight: $fw-regular;
}
