@use "./sass/components/variables" as *;

body {
  font-family: $ff-primary;
  background-color: $clr-neutral-200;
  overflow-x: hidden;
}
// .app {
//   padding: 1rem;
// }
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0;

  &__content {
    text-align: center;
  }
  &__heading {
    line-height: normal;
    margin-top: 2rem;
  }
  &__body {
    line-height: 1.625;
    margin-top: 1rem;
    padding-inline: 1.8rem;
  }
}
.logo {
  max-width: 3rem;
}
.skills {
  padding-inline: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 11.375rem) 9.875rem repeat(2, 11.375rem);
  grid-template-areas:
    "a a"
    "a a"
    "b c"
    "d d"
    "e e"
    "f f";
  margin-top: 2rem;
  gap: 1.5rem;
}
.card {
  position: relative;
  background-repeat: no-repeat;
  background-position: top 1.5rem right 1.5rem;
  border-radius: 0.5rem;

  span {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
  }
  &:nth-child(1) {
    grid-area: a;
  }
  &:nth-child(2) {
    grid-area: b;
  }
  &:nth-child(3) {
    grid-area: c;
  }
  &:nth-child(4) {
    grid-area: d;
  }
  &:nth-child(5) {
    grid-area: e;
  }
  &:nth-child(6) {
    grid-area: f;
  }
}

.introduction {
  margin-top: 6.25rem;
  text-align: center;
  display: grid;
  gap: 2.5rem;
  &__image {
    padding-inline: 1.3rem;
  }
  &__content {
    display: grid;
    gap: 1.5rem;
  }
  &__heading {
    line-height: normal;
  }
  &__body {
    line-height: 1.625;
  }
  &__button {
    display: block;
    width: fit-content;
    margin-inline: auto;
  }
}

.work {
  &__heading {
    padding-inline: 1rem;
    text-align: center;
    margin-top: 6.25rem;
    line-height: normal;
  }
}
